* {
  margin: 0;
}

.header {
  background-color: #0f1111;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
}

.header__mainheading {
  display: flex;
  flex: 1;
}

.header__mainheading h1 {
  color: #fff;
}

.header__nav {
  display: flex;
  position: absolute;
  left: 20%;
}
.header__link {
  color: white;
  text-decoration: none;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  position: fixed;
  right: 28px;
  top: 28px;
}
.header__optionline1 {
  font-size: medium;
  font-weight: 400;
}
.header__optionline2 {
  font-size: 10px;
  font-weight: 800;
}
.header__optionbasket {
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
}
.header {
  color: white;
  font-size: medium;
}
